
body {
  background-color: #282c34;
  width: 100vw;
  height: 100vh; 
  overflow-x: hidden;
}

.App {
  padding-bottom: 30px;
}


#root, .App{
    overflow-x: hidden;
}

.wrapper { 
    width: 100%;
}

.main-text {
  margin-top: 10px;
  font-size: calc(10pt + 1vmin);
}

.subtext {
  margin-top: 10px;
  font-size: calc(8pt + 1vmin);
}



.sub-subtext {
  display: block;
  margin-top: 10px;
  padding: 0px 20vw;
  font-size: calc(5pt + 3vmin);
  color: #e0e0e0;
  text-align: center;
}


.disclaimer {
  font-weight: lighter;
}

.last-updated{
  color: #999b9e;
  margin-top: 10px;
  font-size: calc(6pt + 1vmin);
}

.header{
  width: 100%;
  text-align: center;

  .header-text {
    background-color: #101216;
    padding: 30px 0px;
    span {
      display: block;
      margin: 10px 0px;
    }
  }
}

.separator {
    width: 60%;
    height: 1px;
    background-color: #474b51;
    margin: 30px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.visitor-count {

  #count {
    display: block;
    text-align: center;
    padding: 5px;
    background: #1d2026;
    font-size: calc(3px + 2vmin);
  }
}

.App-wrapper{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
}

.graph-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .graph-title {
    display: block;
    margin-bottom: 15px;
    font-size: 11pt;
  }

  .recharts-text {
    font-size: 9pt;
  }

  .recharts-default-legend {
    display: flex;
    justify-content: center;
    li {
      margin: 0px 20px;
    }
  }
  
  .recharts-tooltip-label {
    color: #eaeaea;
  }

  .recharts-default-tooltip {

    // override component CSS
    background-color: #282c34 !important;
    box-shadow: 1px 1px 5px #191919;
    border-radius: 2px;
  }

  .recharts-wrapper {
    transform: translateX(6px);
  }

  .recharts-xAxis{
    .recharts-cartesian-axis-ticks {
      line {
        display: none;
      }

    transform: translateY(5px);
    }
  }
}

.App-link {
  color: #61dafb;
}

.location-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.location-list-item-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}


.location-list-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
    span {
      color: #cccccc;
      display: block;
      font-size: 11pt;
      padding: 5px;
    }

    &.color {
      background-color: #1d2026;
    }

    &.title {
      span {
        // override default color
        color: white ;
        margin-bottom: 15px;
      }
      
    }
}

  

.location-list-item-value {
  span{
    display: inline;
  }

  .faded {
    color: #9e9e9e;
    font-size: 9pt;
  }
}

#game-notice { 
   display: flex; 
   justify-content: center;
   align-items: center;

   #notice-wrapper{
        text-align: center;
        width: 80%;
        height: auto;
        background-color: #B599CE;
        padding: 10px;
        display: flex; 
        justify-content: center;
        align-items: center;
        color: black;
   }
}




/** animations **/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* resizing */

@media (max-width: 1000px) {
  .location-list-item {
    width: 85%; 
  }

  .separator {
    width: 85%;
  }
}