body {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.App {
  padding: 30px 0px;
}

#root, .App {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.subtext {
  margin-top: 10px;
  font-size: calc(4px + 2vmin);
}

.description {
  display: block;
  width: 40%;
  text-align: center;
  color: #999b9e;
}

.separator {
  width: 60%;
  height: 1px;
  background-color: #474b51;
  margin: 30px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.visitor-count #count {
  display: block;
  text-align: center;
  padding: 5px;
  background: #1d2026;
  font-size: calc(2px + 2vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.graph-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graph-wrapper .graph-title {
  display: block;
  margin-bottom: 15px;
  font-size: 11pt;
}

.graph-wrapper .recharts-text {
  font-size: 9pt;
}

.graph-wrapper .recharts-tooltip-label {
  color: #eaeaea;
}

.graph-wrapper .recharts-default-tooltip {
  background-color: #282c34 !important;
  -webkit-box-shadow: 1px 1px 5px #191919;
          box-shadow: 1px 1px 5px #191919;
  border-radius: 2px;
}

.graph-wrapper .recharts-wrapper {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

.graph-wrapper .recharts-xAxis .recharts-cartesian-axis-ticks {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.graph-wrapper .recharts-xAxis .recharts-cartesian-axis-ticks line {
  display: none;
}

.App-link {
  color: #61dafb;
}

.location-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-list-item-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-list-item {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2px 0px;
}

.location-list-item span {
  color: #cccccc;
  display: block;
  font-size: 11pt;
  padding: 5px;
}

.location-list-item.color {
  background-color: #1d2026;
}

.location-list-item.title span {
  color: white;
  margin-bottom: 15px;
}

#game-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-notice #notice-wrapper {
  text-align: center;
  width: 80%;
  height: auto;
  background-color: #B599CE;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

/** animations **/
@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* resizing */
@media (max-width: 1000px) {
  .description {
    width: 90%;
  }
  .location-list-item {
    width: 85%;
  }
  .separator {
    width: 85%;
  }
}
/*# sourceMappingURL=App.css.map */